@import 'variables';


html,
body {
    height: 100%;
    margin: 0;
}

/*ico*/
.logoQuiz {
    position: fixed;
    top: 1vh;
    left: 1vh;
    z-index: 3;

    .icon-logo {
        color: $purple;
        font-size: 10vh;
        opacity: 0.40;

    }
    .icon-logo:hover {
        color:$purpleBlue;
        opacity: 1;
        transition: all .2s ease-in-out;
    }
}


/*Buttons*/

.btn {
    border-radius: 50%;
    font-family: $defaultFont;
    color: white;
}

.btn_darkPurple {
    background-color: $darkPurple;
}

.btn_purple {
    background-color: $darkPurple;
}

.btn_grad {
    background-image: $blueGrad;
}

/*zoning style*/

.main {
    color: $dark;
}

.header {
    color: white;
    background-image: $purpleGrad;
}

footer {
    height: 10vh;
    color: white;
    background-image: $purpleGrad;

    .col-4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .icon {
        font-size: 6vh;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
}

.aside {
    background-color: $blue;
}

/*text*/

h1,
h2,
h3,
h4,
h5 {
    font-family: $titleFont;
}

p {
    font-family: $defaultFont;
}

a {
    color: transparent !important;
}
a:hover{
    color: transparent !important;
}

a:focus{
    color:transparent !important;
}
/*icon*/

.icon {
    font-family: icomoon;
    color: white;
}

/*Quiz*/

.quiz {
    height: 90vh;
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    align-items: stretch;
    flex-wrap: wrap;
}

.textQuestion {
    top: 2vh;
    height: 15vh;
    flex-wrap: wrap;
    text-align: center;

    .question {
        font-family: $titleFont !important;
    }

    .card {
        overflow: hidden;
        height: 20vh;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.videoQuestion {
    top: 2vh;
    height: 50vh;
    flex-wrap: wrap;
    text-align: center;

    .question {
        font-family: $titleFont !important;
    }

    .card {
        overflow: hidden;
        height: 50vh;

    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.textAnswer {
    flex: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .row {
        width: 100%;
    }

    .card {
        transition: all .2s ease-in-out;
    }

    .card:hover {
        color: white;
        background-color: $purple;
    }
}

.imgAnswer {
    flex: 50%;

    .row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        transition: all .2s ease-in-out;
        height: 600px;
        max-height: 30vh;
    }

    .card:hover {
        color: white;
        background-color: $blue;
    }

    .card:focus{
        color: $purpleBlue;
    }

    .card:active{
        color: $purpleBlue;   
    }

    .inputCard:click{
        color: $purpleBlue;  
    }

    .image {
        border-radius: 1vh;
        margin: 10%;
        background-size: cover;
        background-position: center;
        width: 80%;
        height: 80%;
    }

    .row,
    .col-6,
    .container-fluid {
        margin: 0px;
        padding-left: 0px;
        padding-right: 0px;

    }

}

.result{
    display: flex;
    flex-direction: column;
    text-align: center;
}

/*sidebar*/

.checkbox{
  border-radius: 12px;
}

.homeText1{
float: left;
font-size: 40px;
}

.homeImg1{
float: right;
height: 10em;
}

.homeText2{
  float: right;
}
  
.homeImg2{
  float: left;
}

.HomeTitle{
  text-align: center;
font-size: 100px;
padding-bottom: 10px;

  
}

.HomeHeader{

  background-color: turquoise;
  margin-top: -6em;
  margin-left: -2em;
  margin-right: -2em;
  
  
}
.HomeHeader img{
  height: 170px;
  width: 170px;

}

.favi{
  height: 110px;
  width: 110px;
  float: left;
}

.imageSquare img{
  background-color: blue;
  opacity: .2;
}
#img1{
  height :300px;
  float: right;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


* {
  box-sizing: border-box;
}

.box {
  float: left;
  width: 33.33%;
  padding: 50px;
}

.box img{
  height: 470px;
width:470px;}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.box h2{
  font-size: 70px;
}

.icon-volume-increase{
    color: transparent;
}

.icon-badge {
    font-size: 10vh;
}